.manga_updated {

}

.manga_old {

}

.tablewidth {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.table_center {
  text-align: center;
}

#bookmark_list {

}

#bookmark_form {
  border-collapse: separate;
}

#div_list__manga_list {

}