.manga_updated {

}

.manga_old {

}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center; 
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
.select2 {
  color: black !important;
}

.select2-container {
  color: black !important;
}

html {
    background: url(img/kaibabg.png) no-repeat center fixed;
    background-size: cover;
    color: white;
}

.black-font {
  color: black;
}

body {
  filter: alpha(opacity=650); // IE 5-7
  opacity: 0.65;
  background-color: rgba(0, 0 , 0, 0.65);
  color: white;
}

.table_opacity {
  filter: alpha(opacity=750); // IE 5-7
  opacity: 0.75;
  background-color: rgba(0, 0 , 0, 0.75);
}

.tablewidth {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center_this {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.upper_spacer {
  margin-top: 50px;
}

.lower_spacer {
  margin-bottom: 50px;
}

.tiny_lower_spacer {
  margin-bottom: 20px;
}

.valign {
  vertical-align: middle;
}

td > * {
  vertical-align : middle;
}

.standard-td-height {
  height: 40px;
}

table > tbody > tr > td {
  text-align: center;
}

table > tbody > tr > th {
  text-align: center;
}

.table_center {
  text-align: center;
}

#id_manga {
}

#bookmark_list {

}

#bookmark_form {
  border-collapse: separate;
  width: 25%;
}

#div_list__manga_list {

}