{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/bootstrap.min.css' %}" />
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
  <script type="text/javascript" src="{% static 'lib/bootstrap/bootstrap.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'lib/bootstrap/bootstrap3-editable/css/bootstrap-editable.css' %}" />
  <script src="{% static 'lib/bootstrap/bootstrap3-editable/js/bootstrap-editable.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />

  {% block head_content %} {% endblock %}

  <title>Manga Memorial |
    {% block title %}{% endblock %}</title>
</head>
<body>

  <div class="container">
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">Manga Memorial</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register/">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout/">Logout</a>
        </li>
      </ul>
    </nav>
  </div>

  <h1>{% block head %}{% endblock %}</h1>
  <div id="welcome" class="table_center">
    <h3 id="welcome_msg">Welcome {% block welcome %}{% endblock %}!</h5>
    <h6 id="explanation_msg">
      Manga Memorial stores your manga bookmarks. <br>
      When mangaupdates.com gets new releases, the relevant bookmarks are highlighted.<br>
      An aggregation of updates can be emailed periodically depending on your profile settings.
    </h6>
  </div>
  {% block content %}{% endblock %}    
</body>
</html>