{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/bootstrap.min.css' %}" />
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
  <script type="text/javascript" src="{% static 'lib/bootstrap/bootstrap.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'lib/bootstrap/bootstrap3-editable/css/bootstrap-editable.css' %}" />
  <script src="{% static 'lib/bootstrap/bootstrap3-editable/js/bootstrap-editable.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
  {% block head_content %} {% endblock %}
  <title>Manga Memorial |
    {% block title %}{% endblock %}</title>
</head>
<body>

  <div class="container tiny_lower_spacer">
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="/home/">Manga Memorial</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home/">Bookmarks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile/">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register/">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout/">Logout</a>
        </li>
      </ul>
    </nav>
  </div>

<!--   <h2 class="center_this lower_spacer">{% block head %}{% endblock %}</h1>
 -->  <div id="welcome" class="table_center">
    <h3 id="welcome_msg" class="tiny_lower_spacer">Welcome {% block welcome %}{% endblock %}!</h5>
    <h6 id="explanation_msg">
      Manga Memorial, an email service for your new manga releases. <br>
      When mangaupdates.com gets new releases, you can be notified via email.<br>
      You will only be notified when they are new releases. Further options are in your profile.
    </h6>
  </div>
  {% block content %}{% endblock %}  
  <div class="upper_spacer">&nbsp</div>  
  {% block footer %}{% endblock %}
</body>
</html>