  <table id="bookmark_list" class="table table-bordered table_center table-hover table-sm tablewidth">
    <thead class="thead-inverse table_center">
      <th class="table_center">Manga</th>
      <th class="table_center">Latest Chapter</th>
      <th class="table_center">Group</th>
    </thead>
    <tbody>
    {% for b in bookmarks %}
      <tr class="bookmark_row" id="{{ b.id }}" >
        <td class="align-middle"><a href="{{ b.manga.manga_updates_url }}">{{ b.manga.name }}</a></td>
        <td class="align-middle">{{ b.manga.latest_release }}</td>
        <td class="align-middle"><a href="{{ b.manga.translator_url }}">{{ b.manga.translator }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


  </br>
<a href="manga.memorial/profile">Click here to change your email settings or unsubscribe!</a>